body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0; /* remove default margin */
}

html,
body {
  height: 100%; /* make sure html and body take up 100% of viewport height */
}
  
  #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  #score,
  #timer,
  #missed {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  #game-area-container {
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border: 10px solid darkblue;
    overflow: hidden; /* hide anything that goes beyond the container */
    box-sizing: border-box; /* include border in total width and height */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  
  
  #start-button {
    margin-top: 20px;
  }
  
  
  #game-area {
    position: relative;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
  }
  

  
  .pizza {
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 2px solid transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url("./pizza.png");
    background-size: contain;
    /* Add these properties to keep the pizza within the game area */
    left: calc(50% - 25px);
    max-width: calc(100% - 20px);
  }

  button#start-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  #start-button:hover {
    background-color: #67e06b; /* change to the desired hover background color */
    color: white; /* change to the desired hover text color */
    cursor: pointer; /* change to the desired hover cursor style */
  }

  #start-button.disabled {
    background-color: #aaa;
    color: #555;
    cursor: default;
  }
  

  button#reset-button {
    padding: 10px 20px;
    background-color: #eb1a12;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  #reset-button:hover {
    background-color: #ff6762; /* change to the desired hover background color */
    color: white; /* change to the desired hover text color */
    cursor: pointer; /* change to the desired hover cursor style */
  }
  
  

  /* .pop {
    z-index: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0;
    background-color: yellow;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation: pop 0.5s ease-out;
            animation: pop 0.5s ease-out;
  }
  
  @-webkit-keyframes pop {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.5);
      opacity: 0;
    }
  }
  
  @keyframes pop {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.5);
      opacity: 0;
    }
  } */
  
  

  @media only screen and (max-width: 600px) {

    html,
body {
  height: 100%; /* make sure html and body take up 100% of viewport height */
}

    #game-area-container {
      border-collapse: collapse;
      width: 90vw;
      height: 60vh;
      border: 5px solid darkblue;
      overflow: hidden; /* hide anything that goes beyond the container */
      box-sizing: border-box; /* include border in total width and height */
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
    }

    /* Adjust game area height and position for mobile */
    #game-area {
      height: 60vh;
      width: 70vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
    
    
    .pizza {
      z-index: 1;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      outline: 2px solid transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 50px;
      background-image: url("./pizza.png");
      background-size: contain;
      /* Add these properties to keep the pizza within the game area */
      left: calc(50% - 25px);
      max-width: calc(100% - 20px);
    }
    
  
    button#reset-button, button#start-button {
      padding: 8px 15px;
      font-size: 16px;
      margin-top: 18px;
     
    }

    /* .pop {
      z-index: 0;
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      opacity: 0;
      background-color: yellow;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation: pop 0.5s ease-out;
              animation: pop 0.5s ease-out;
    }
    
    @-webkit-keyframes pop {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.5);
        opacity: 0;
      }
    }
    
    @keyframes pop {
      0% {
        transform: scale(0);
        opacity: 0;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.5);
        opacity: 0;
      }
    }
     */
    
    
  }
  
  